@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    background-color: #0C0E12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 40px;
    margin: 20px;
}

.wallet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    flex-direction: column;
}

#wallet-balance {
    color: #FAD338;
}

#heading {
    font-size: 1.2em;
    font-weight: bold;
    color: #FAD338;
    margin-bottom: 0;
    margin-top: 20px;
}

.crypto-name {
    font-size: 0.7em;
    margin-right: 2px;
}

.container {
    color: white;
    background-color: #1E2329;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

.bottom-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.element {
    width: 45%;
    height: 45%;
    margin: 5px;
}

.left-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.name-tag {
    padding-top: 2px;
    font-size: 0.9em;
    margin-bottom: 0;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 5px;
    padding-bottom: 0;
}

.value {
    font-size: 1.5em;
}

.sell-button {
    width: 100%;
    background-color: #e74c3c;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}

.sell-button-atag {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}
