@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #0C0E12;
}

nav{
    display: flex;
    background-color: #181A20;
    align-items: center;
}

.logo {
    color: #FAD338;
    font-weight: bold;
    font-size: 1.8em;
    padding: 10px;
    padding-bottom: 0;
}

.trading-link {
    text-decoration: none;
    color: #B9BABC;
    font-size: 1em;
    font-weight: bold;
}
.trading-button {
    margin-left: 20px;
    margin-right: 20px;
}
.trading-button:hover {
    color: #FAD338;
}

.wallet-balance {
    display: flex;
    flex-direction: column;
    color: #B9BABC;
    margin: 0 20px 0 20px;
    font-weight: bold;
}
#wallet {
    font-size: 0.7em;
}
#wallet-balance {
    color: #fff;
    font-size: 1.3em;
    margin-right: 0;
}
.usdt-tag {
    margin-left: 0;
    font-size: 0.6em;
    color: #fff;
}

form.add-money {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
.input-money {
    width: 14vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-money-button {
    margin-left: 5px;
    color: #FAD338;
    font-weight: bold;
}

.main-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 40px;
    margin: 20px;
}

#heading {
    font-size: 1.2em;
    font-weight: bold;
    color: #FAD338;
    margin-bottom: 0;
    margin-top: 20px;
}

.crypto-name {
    font-size: 0.7em;
    margin-right: 2px;
}

.container {
    color: white;
    background-color: #1E2329;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

.bottom-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.element {
    width: 45%;
    height: 45%;
    margin: 5px;
}

.left-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.element {
    width: 30%;
}

.name-tag {
    padding-top: 2px;
    font-size: 0.9em;
    margin-bottom: 0;
    color: #FAD338;
}

.sell-button {
    width: 100%;
    background-color: #181A20;
    color: #e74c3c;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    transition-duration: 0.2s;
}
.sell-button:hover {
    background-color: #e74c3c;
    color: #181A20;
}

.sell-button-atag {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}
